//- vim: expandtab:ts=2:sw=2
!!! 5
html(lang="en")
  head
    title firehose
    link(rel='stylesheet', type='text/css', href='static/style.css')
  body
    h1.title Messages
    ul.messages
      each message in messages
        li(class='message #{message.priority}',
           title='#{message.source.type}: #{message.source.service} #{message.group}')
          !{message.sender}: !{message.body}

